body {
  background-color: dimgrey;
  background-image: linear-gradient(darkgrey, dimgrey);
  background-repeat: no-repeat;
  height:666px;
  background-size: cover;
  color: black;
}


a:link {
  color: black;
text-decoration: none;
}


a:visited {
  color: black;
text-decoration: none;
}

a:hover {
  color: black;
text-decoration: none;
}

a:active {
  color: black;
text-decoration: none;
} 
  



div {
  display: grid;
  place-items: center;
}

img {
  width: 26%; /* set to your likings */
	height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid pink;
}



.W{
  font-family: times new roman;
  font-size: 51px;
    position: absolute;
    top: 10%;
    right: 50%;
}

.D{
  font-family: times new roman;
  font-size: 51px;
    position: absolute;
    top: 50%;
    right: 25%;
}

.S{
  font-family: times new roman;
  font-size: 51px;
    position: absolute;
    bottom: 10%;
    right: 50%;
}

.A{
  font-family: times new roman;
  font-size: 51px;
    position: absolute;
    top: 50%;
    left: 25%;
}

h1{
  font-family: times new roman;
  font-size: 51px;
    position: absolute;
    top: 50%;
   

}


       